@font-face {
  font-family: Circular;
  font-weight: 400;
  src: url(/fonts/Circular/CircularStd-Book.woff);
}

@font-face {
  font-family: Circular;
  font-weight: 700;
  src: url(/fonts/Circular/CircularStd-Bold.woff);
}

body {
  font-family: "Circular";
  padding: 0;
  margin: 0;
}
