.appBar {
  flex-grow: 1;
}

.verticalAppBar {
  margin-top: 24px;
}

.secondaryActions {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
}

.verticalActions {
  flex-direction: column-reverse;
  height: 100px;
  margin-bottom: 16px;
}

.toolbar {
  margin-top: 16px;
  column-gap: 16px;
  padding: 0 !important;
}

.addToQueue {
  margin-right: 16px;
}

.addToQueueIconOnly {
  margin-right: 0;
}
