.starRating {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2px;
  align-items: center;
  width: 100px;
}

.popover {
  pointer-events: none;
  margin-top: 8px;
}

.tooltip {
  padding: 0 16px;
}

.paper {
  border-radius: 8px !important;
}

.star {
  height: 18.5px;
}
