.main {
  flex-grow: 1;
  font-size: 1.4em;
}

.dbSelect {
  padding: 0 8px 0 0 !important;
}

.dbSelectRender {
  color: white !important;
  pointer-events: none;
}

.arrowIcon {
  color: white !important;
}
