.main {
  flex-grow: 1;
  font-size: 1.4em;
}

.dbSelect {
  padding: 0 8px 0 0 !important;
  color: #b4b5de !important;
}

.dbSelectRender {
  pointer-events: none;
}

.selectIcon {
  color: #b4b5de !important;
}
