.listCell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  height: 100%;
  min-height: 40px;
}

.left {
  justify-content: left;
}

.dense {
  padding-left: 4px;
  padding-right: 4px;
}

.locked {
  opacity: 0.3;
}
