.input {
  margin: 0 16px 32px;
}

.placeholder {
  height: 250;
  text-align: center;
}

.posterGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 16px;
  row-gap: 32px;
  margin-bottom: 24px;
}
