.listHeader {
  display: flex;
  font-size: 0.8em;
  font-weight: 700;
  color: darkslateblue;
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  padding: 8px 16px 16px;
  justify-content: center;
}

.left {
  justify-content: left;
}
