.select {
  margin-top: 8px; /* simulate margin=dense */
  margin-bottom: 4px; /* simulate margin=dense */
  height: 41px; /* Grrr...make the hight line up */
}

.select > :first-child {
  padding-top: 0;
  padding-bottom: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.italic {
  font-style: italic;
}
