.list {
  margin-top: 24px;
}

.movieList {
  display: grid;
  grid-template-columns: auto 110px 110px max-content max-content;
  align-items: center;
}

.action {
  cursor: pointer;
  margin: 0 auto;
  color: #ccc;
  padding: 0 8px;
}

.action:hover {
  color: steelblue;
}

.disabledAction {
  opacity: 0.2;
  cursor: not-allowed;
}

.link {
  text-decoration: none;
  color: initial;
}

.save {
  color: #fff !important;
  background-color: rgb(91, 177, 91) !important;
}
