.list {
  margin-top: 24px;
}

.movieList {
  display: grid;
  grid-template-columns: auto 110px 110px max-content max-content;
  align-items: center;
}

.link {
  text-decoration: none;
  color: initial;
}

.save {
  color: #fff !important;
  background-color: rgb(91, 177, 91) !important;
}

.editDone {
  margin-left: 40px;
}

.editCancel {
  margin-right: 40px;
}
