.lock {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lockIcon {
  font-size: 1.25rem !important;
  color: grey;
}

.unlocked {
  opacity: 0.25;
}

.unlocked:hover {
  opacity: 1;
}

.unlocked:hover > .lockIcon,
.locked:hover > .lockIcon {
  color: cornflowerblue;
}

.locked:hover {
  color: black;
}
