.main {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  color: #333;
  transition: all 400ms;
}

.mainInteraction:hover img {
  transform: translateY(-4px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.poster img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 8px;
}

.year {
  font-size: 0.8em;
  text-align: center;
}

.unselected {
  opacity: 0.25;
}
