.pickGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  background-size: cover;
  background-position-x: center;
  height: 60vh;
  width: 100%;
}

.backdropSmall {
  height: 50vh;
}

.backdropLarge {
  height: 70vh;
}

.movieInfo {
  margin: -200px 32px 32px 32px;
  display: grid;
  grid-template-areas:
    "poster title title"
    "poster info ratings"
    "poster plot plot";
  grid-template-rows: 140px 40px auto;
  grid-template-columns: max-content auto auto;
  column-gap: 32px;
  max-width: 960px;
  min-height: 400px;
  z-index: 10;
}

.movieInfoLarge {
  margin-top: -250px;
}

.movieInfoTwoCol {
  grid-template-areas:
    "poster title"
    "poster info"
    "poster plot"
    "poster ratings";
  grid-template-rows: 125px 40px auto auto;
  grid-template-columns: max-content auto;
}

.movieInfoOneCol {
  margin-top: -150px;
  grid-template-areas:
    "poster"
    "title"
    "info"
    "plot"
    "ratings";
  grid-template-rows: 300px auto 40px auto auto;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 300px;
}

.poster {
  grid-area: poster;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1),
    0px 5px 15px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.12);
}

.posterXSmall {
  justify-self: center;
}

.title {
  grid-area: title;
  font-size: 48px;
  font-weight: bold;
  color: #141414;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-shadow: 0 0 3px white;
  padding-bottom: 16px;
}

.titleSmall {
  font-size: 32px;
}

.titleXSmall {
  font-size: 32px;
  padding-top: 24px;
  text-align: center;
}

.movieData {
  padding: 0;
  display: grid;
  column-gap: 24px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, max-content);
  font-size: 14px;
  align-items: center;
  grid-area: info;
  color: #333;
}

.ratings {
  grid-area: ratings;
  justify-self: flex-end;
  margin: 0;
}

.ratingsTwoCol {
  justify-self: flex-start;
  padding: 16px 0;
  margin-top: 16px;
}

.ratingsOneCol {
  justify-self: unset;
}

.plot {
  grid-area: plot;
  line-height: 1.7;
  color: #333;
  padding-top: 16px;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 64px;
}
