.pickGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  background-size: cover;
  background-position-x: center;
  height: 60vh;
  width: 100%;
}

.backdropSmall {
  height: 50vh;
}

.backdropLarge {
  height: 70vh;
}

.movieInfo {
  margin: -200px 32px 32px 32px;
  display: grid;
  grid-template-areas:
    "poster title"
    "poster info"
    "poster plot"
    "poster ratings";
  grid-template-rows: 140px 40px auto max-content;
  grid-template-columns: max-content auto;
  column-gap: 32px;
  max-width: 960px;
  min-height: 400px;
  z-index: 10;
}

.movieInfoLarge {
  margin-top: -250px;
}

.movieInfoTwoCol {
  margin-top: -150px;
  grid-template-areas:
    "poster title"
    "poster info"
    "poster source"
    "poster plot"
    "poster ratings";
  grid-template-rows: 100px 40px max-content auto max-content;
}

.movieInfoOneCol {
  margin-top: -150px;
  grid-template-areas:
    "poster"
    "title"
    "info"
    "plot"
    "ratings";
  grid-template-rows: 300px auto 40px auto max-content;
  grid-template-columns: 1fr;
  min-height: 300px;
}

.poster {
  grid-area: poster;
  height: fit-content;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1),
    0px 5px 15px 0px rgba(0, 0, 0, 0.1), 0px 1px 20px 0px rgba(0, 0, 0, 0.12);
}

.posterXSmall {
  justify-self: center;
}

.title {
  grid-area: title;
  font-size: 48px;
  font-weight: bold;
  color: #141414;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-shadow: 0 0 3px white;
  padding-bottom: 16px;
}

.titleSmall {
  font-size: 32px;
}

.titleXSmall {
  font-size: 32px;
  padding-top: 24px;
  text-align: center;
}

.movieData {
  padding: 0;
  display: grid;
  column-gap: 24px;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, max-content) auto;
  font-size: 14px;
  align-items: center;
  grid-area: info;
  color: #333;
}

.movieDataXSmall {
  column-gap: 16px;
}

.ratings {
  grid-area: ratings;
  margin: 0;
}

.ratingsTwoCol {
  padding: 16px 0;
  margin-top: 16px;
}

.ratingsXSmall {
  justify-content: center;
}

.plot {
  grid-area: plot;
  line-height: 1.7;
  color: #333;
  padding-top: 16px;
}

.source {
  height: 40px;
  margin-left: auto;
}

.sourceTwoCol {
  grid-area: "source";
  margin-left: 0;
  margin: 16px 0 8px;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 64px;
}
